:root {
    --primary-color: #bbec96;
    --primary-hover: #ccfca8;
    --background: #aae5a4;
    --surface: #93c393;
    --surface-hover: #96c882;
    --surface-light: #96c882;
    --surface-light-hover: #99ce71;
    --text: #000000;
    --text-secondary: #0d120d;
    --text-tertiary: #0d120d;
    --tag-text: #ffffff;
    --primary-text: #000000;
    --border: #99ce71;

    --white: #ffffff;
    --black: #000000;
    --green: #00aa00;
    --orange: #ff8800;
    --red: #aa0000;
    --blue: #000099;
    
    --tag-artist: #aa0000;
    --tag-character: #00aa00;
    --tag-copyright: #aa00aa;
    --tag-general: #000099;
    --tag-meta: #ff8800;
    
    --success: var(--green);
    --success-hover: color-mix(in srgb, var(--success) 70%, var(--background));
    --info: var(--blue);
    --info-hover: color-mix(in srgb, var(--info) 70%, var(--background));
    --warning: var(--orange);
    --warning-hover: color-mix(in srgb, var(--warning) 70%, var(--background));
    --danger: var(--red);
    --danger-hover: color-mix(in srgb, var(--danger) 70%, var(--background));

    --video-outline: var(--red);
    --gif-outline: var(--green);

    --rating-safe: var(--green);
    --rating-questionable: var(--orange);
    --rating-explicit: var(--red);
}
